{% extends 'core/base.html' %}

{% block title %}Sobre mí{% endblock %}

{% block background %}{% load static %} {% static 'core/img/about-bg.jpg' %}{% endblock %} 


{% block headers %}
<h1>Sobre mí</h1>
              <span class="subheading"></span>
{% endblock %}   



{% block content %}
<div class="row">
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/foto.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Andrés Vergara</h2>   
        <p>Desarrollador de software con un año de experiencia en Python, </p>            
        <p> Me considero una persona cooperativa y con ganas de seguir aprendiendo, de ahí mi interes por formarme continuamente.</p>
        <p>Estoy desarrollando mis habilidades y adquiriendo experiencia en distintas tecnologias dentro del ecosistema de Python, como Django, MySql, HTML, GIT, Docker...</p>
        <p>Busco una empresa que me ofrezca la oportunidad de seguir evolucionando día a día.</p>
<div>
{% endblock %}